@model IEnumerable<Lab1_CésarSilva_1184519_JonnathanLanuza_1082219.Models.MLSplayers>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<script type="text/javascript">
    function tiempo(Artesanal) {
        alert('tardo: ' + Artesanal + " ms")
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Player in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelPlayer => Player.Club)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Player.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Player.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Player.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Player.Salary)
                </td>
                <td>
                    @Html.ActionLink("Edit Player", "Edit", new { id = Player.Name }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Player.Name })
                </td>
            </tr>
        }
    </tbody>
    <form method="post">
        USE ONLY ONE VALUE PER SEARCH </br>
        Search by name: <input type="text" name="Name" value="@ViewData["SearchName"]" /> </br>
        Search by last name: <input type="text" name="Name" value="@ViewData["SearchLastName"]" /> </br>
        Search by club: <input type="text" name="Name" value="@ViewData["SearchClub"]" /> </br>
        Search by position: <input type="text" name="Name" value="@ViewData["SearchPosition"]" /> </br>
        Search by salary: <input type="text" name="Name" value="@ViewData["SearchSalary"]" /> </br>
        <input type="submit" asp-action="Search" />
    </form></br>
    </br>
    <a asp-action="Index"> Return to list </a>
</table>